1. RAINBOW

2.

In [1]:
print("LETS UPGRADE")

LETS UPGRADE

3. Test CASE 1

In [2]:
CostPrice =20
SellingPrice =30
if SellingPrice-CostPrice>0:
    print("Profit")
elif SellingPrice-CostPrice<0:
    print("Loss")
else:
    print("Neither")

Profit

3. Test CASE 2

In [3]:
CostPrice =20
SellingPrice =10
if SellingPrice-CostPrice>0:
    print("Profit")
elif SellingPrice-CostPrice<0:
    print("Loss")
else:
    print("Neither")

Loss

3. Test CASE 3

In [4]:
CostPrice =20
SellingPrice =20
if SellingPrice-CostPrice>0:
    print("Profit")
elif SellingPrice-CostPrice<0:
    print("Loss")
else:
    print("Neither")

Neither

3. Test CASE 4

In [5]:
CostPrice =19
SellingPrice =19
if SellingPrice-CostPrice>0:
    print("Profit")
elif SellingPrice-CostPrice<0:
    print("Loss")
else:
    print("Neither")

Neither

3. Test CASE 5

In [6]:
CostPrice =23
SellingPrice =7
if SellingPrice-CostPrice>0:
    print("Profit")
elif SellingPrice-CostPrice<0:
    print("Loss")
else:
    print("Neither")

Loss

3. Test CASE 6

In [7]:
CostPrice =19
SellingPrice =95
if SellingPrice-CostPrice>0:
    print("Profit")
elif SellingPrice-CostPrice<0:
    print("Loss")
else:
    print("Neither")

Profit

4. Test CASE 1

In [8]:
IndianRupees = 20
Euro = 80
x = IndianRupees*Euro
print(x)

1600

4. Test CASE 2

In [9]:
IndianRupees = 50
Euro = 80
x = IndianRupees*Euro
print(x)

4000

4. Test CASE 3

In [10]:
IndianRupees = 72
Euro = 80
x = IndianRupees*Euro
print(x)

5760

4. Test CASE 4

In [11]:
IndianRupees = 7
Euro = 80
x = IndianRupees*Euro
print(x)

560

4. Test CASE 5

In [12]:
IndianRupees = 35
Euro = 80
x = IndianRupees*Euro
print(x)

2800

4. Test CASE 6

In [13]:
IndianRupees = 23
Euro = 80
x = IndianRupees*Euro
print(x)

1840

4. Test CASE 7

In [14]:
IndianRupees = 95
Euro = 80
x = IndianRupees*Euro
print(x)

7600

4. Test CASE 8

In [15]:
IndianRupees = 18
Euro = 80
x = IndianRupees*Euro
print(x)

1440